.setMenu{
  

  display: flex;
  flex-direction: column;

  width: 180px;
  min-width: 50px;
  height: 100%;
  
  position: fixed;
  top: 0;
  left: 0px;

  text-align: center;
 
  z-index: 10;
}

.create_menu{
  display: flex;
  flex-direction: row;
  align-content: space-between;

  margin-top: 84px;
  margin-left: -800px;
  height: 80px;
  width: 800px;
  background-color: rgba(165, 165, 165, 0.632);
  border-color: black;
  
  border-style: solid;
  transition: all 0.5s ease;
}

.legth_block{
  border: solid black;
  height: 30px;
  width: 30px;
  margin-left: 46px;
  transition: all 0.2s ease;
}

.delete_block{
  border: solid black;
  height: 30px;
  width: 30px;
  margin-left: 46px;
  transition: all 0.2s ease;
}

.point_block{
  border: solid black;
  height: 30px;
  width: 30px;
  margin-left: 46px;
  background-color: rgb(247, 213, 57);
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}

#r_set{
  background-color: red;
}

#g_set{
  background-color: rgb(7, 181, 7);
}


#b_set{
  background-color: rgb(3, 45, 169);
}

#bd_set{
  background-color: white;
}

.input_cost{
  background-color: white;
  border: solid black;
  height: 20px;
  width: 50px;
  margin-left: 35px;
}

.input_n{
  background-color: white;
  border: solid black;
  height: 20px;
  width: 30px;
  margin-left: 45px;
}

.schedule_menu{
  margin-top: 168px;
  margin-left: -800px;
  height: 80px;
  width: 800px;
  background-color: rgba(165, 165, 165, 0.632);
  border-color: black;
  
  border-style: solid;
  transition: all 0.5s ease;
}

.description{
  border: black solid;
  margin-top: 3px;
  height: 60px;
  width: 150px;
  margin-right: -20px;
}

.sc_data{
  border: black solid;
  height: 20px;
  width: 120px;
  font-weight: bold;
}

.path_num{
  border: black solid;
  height: 20px;
  width: 30px;
}

.s_text{
  text-align:left;
  font-size: large;
  font-weight: bold;
  margin-top: -20px;
  margin-left: 30px;
}

.option_menu{
  margin-left: -800px;
  height: 80px;
  width: 800px;
  background-color: rgba(165, 165, 165, 0.632);
  border-color: black;
  
  border-style: solid;
  transition: all 0.5s ease;
}

.b_data{
  margin-top: 10px;
  border: black solid;
  background-color: white;
  height: 32px;
  width: 32px;
  color: white;
}

.f_data{
  margin-top: 12px;
  margin-right: -20px;
  border: black solid;
  height: 20px;
  width: 35px;
}

.o_text{
  text-align:left;
  font-size: large;
  font-weight: bold;
  margin-top: -25px;
  margin-left: 30px;
}

.b_data:checked ~.block:hover{
  background-color: white;
}

.login_menu{
  margin-left: -800px;
  height: 80px;
  width: 800px;
  background-color: rgba(165, 165, 165, 0.632);
  border-color: black;
  
  border-style: solid;
  transition: all 0.5s ease;
}

.input_ID{
  background-color: white;
  border: solid black;
  height: 20px;
  width: 100px;
  margin-top: 6px;
  margin-left: 62px;
}

.input_password{
  background-color: white;
  border: solid black;
  height: 20px;
  width: 100px;
}

.l_text{
  text-align: center;
  font-size: large;
  font-weight: bold;
  margin-left: 30px;
}

.menu_screen{
  width: 100%;
  height: 100%;

  background-color: rgb(0, 0, 0);
}

.s_button{
  background-color: white;
  border: solid black;
  height: 54px;
  width: 100px;
  margin-top: 5px;
  font-size: large;
}

#pathCosts{
  background-color: black;
  height: 50px;
  width: 50px;
  margin-left: 500px;
}



@media (max-width: 600px){
  .setMenu{
    display: inline-block;
    flex-direction: row;
    width: 120%;
    height: 100px;
    

    position:fixed;
    top: 0;
    left: 0;
  }

  .create_menu{
    margin-top: 0px;
    margin-left: 0px;
    height: 80px;
    width: 83%;
    background-color: rgba(165, 165, 165, 0.632);
    border-color: black;
    
    border-style: solid;
    transition: all 0.5s ease;
  }
}